[package]
name = "core-consensus"
version = "0.1.0"
authors = ["Cryptape Technologies <contact@cryptape.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1"
bincode = "1.1"
bytes = "0.4"
creep = "0.1"
derive_more = "0.15"
futures-preview = "0.3.0-alpha.19"
overlord = { git = "https://github.com/cryptape/overlord.git", branch = "dev" }
parking_lot = "0.9"
rlp = "0.4"
serde = {version = "1.0", features = ["derive"]}

common-crypto = { path = "../../common/crypto"}
core-mempool = { path = "../../core/mempool"}
core-storage = { path = "../../core/storage"}
core-network = { path = "../../core/network"}
protocol = { path = "../../protocol" }

[dev-dependencies]
num-traits = "0.2"
rand = "0.7"
