[package]
name = "core-consensus"
version = "0.2.0-rc"
authors = ["Muta Dev <muta@nervos.org>"]
edition = "2018"
repository = "https://github.com/nervosnetwork/muta"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1"
bincode = "1.3"
cita_trie = "2.0"
creep = "0.2"
derive_more = "0.99"
futures = { version = "0.3", features = ["async-await"] }
futures-timer = "3.0"
hex = "0.4"
log = "0.4"
overlord = { git = "https://github.com/nervosnetwork/overlord", rev = "42a5f53" }
parking_lot = "0.11"
prost = "0.6"
rlp = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "0.2", features = ["macros", "sync", "rt-core", "rt-threaded"] }
bytes = { version = "0.5", features = ["serde"] }

common-apm = { path = "../../common/apm" }
common-crypto = { path = "../../common/crypto" }
common-logger = { path = "../../common/logger" }
common-merkle = { path = "../../common/merkle" }
core-mempool = { path = "../../core/mempool" }
core-storage = { path = "../../core/storage" }
core-network = { path = "../../core/network" }
protocol = { path = "../../protocol", package = "muta-protocol" }

[dev-dependencies]
bit-vec = "0.6"
lazy_static = "1.4"
num-traits = "0.2"
rand = "0.7"

[features]
default = []
random_leader = ["overlord/random_leader"]
