language: rust
sudo: true
cache:
  cargo: true
  timeout: 1024

git:
  depth: 2
  submodules: false

if: 'branch IN (master, develop) OR type IN (push, pull_request) OR fork = true OR tag =~ ^v'

env:
  global:
    - RUST_BACKTRACE=full

matrix:
  include:
    - rust: 1.33.0
      os: osx
      env: FMT=true CHECK=true TEST=true
    - rust: 1.33.0
      os: linux
      env: FMT=true CHECK=true TEST=true

install: ./devtools/ci/install.sh
script: ./devtools/ci/script.sh

before_cache:
  - rm -rf ./target/debug/incremental/
  - cargo sweep -f
